.container-inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, #d8d7d7, #656565);
    background-size: 400% 400%;
    animation: moverFondo 10s ease infinite;
}

button[type="submit"] {
    background-color: #3651b4;
    color: #ffffff;
}

@keyframes moverFondo {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.titulo h2 {
    text-align: center;
    color: #007bff;
}

.titulo hr {
    border-top: 2px solid #007bff;
    width: 50%;
    margin: 10px auto;
}

#lista-aficiones {
    max-height: 150px;
    overflow-y: auto;
}

.error-message {
    color: #dc3545;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}


.form-control {
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}


.list-group-item {
    background-color: #f8f9fa;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.container {
    margin-top: 50px;
}

.card-header h2 {
    margin-bottom: 0;
}

.error-message {
    color: #dc3545;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}


#fondo-animado {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    margin: 0;
    padding: 0;
    background-size: 400% 400%;
    overflow-y: auto;
}

#home {
    font-size: 18px;
    padding: 12px 24px;
    border-radius: 8px;
    background-color: #a3dcff;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#home:hover {
    background-color: #2e6299;
    transform: translateY(-2px);
}

#inicio h1 {
    background-image: linear-gradient(to bottom, #000000, #838383);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: -1px;
    font-size: 100px;
    font-style: italic;
}

#inicio h1:hover {
    transform: scale(1.1);
}


* {
    padding: 0;
    margin: 0;
    color: #1a1f36;
    box-sizing: border-box;
    word-wrap: break-word;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;
}

body {
    min-height: 100%;
    background-color: #ffffff;
    overflow-y: auto;
}

h1 {
    letter-spacing: -1px;
    font-size: 80px;
    font-style: italic;
    color: #333333;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}

a {
    color: #5469d4;
    text-decoration: unset;
}

.login-root {
    background: #fff;
    display: flex;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.loginbackground {
    min-height: 692px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;
    overflow: hidden;
}

.flex-flex {
    display: flex;
}

.box-root {
    box-sizing: border-box;
}

.flex-direction--column {
    -ms-flex-direction: column;
    flex-direction: column;
}

.loginbackground-gridContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: [start] 1fr [left-gutter] (86.6px)[16] [left-gutter] 1fr [end];
    grid-template-columns: [start] 1fr [left-gutter] repeat(16,86.6px) [left-gutter] 1fr [end];
    -ms-grid-rows: [top] 1fr [top-gutter] (64px)[8] [bottom-gutter] 1fr [bottom];
    grid-template-rows: [top] 1fr [top-gutter] repeat(8,64px) [bottom-gutter] 1fr [bottom];
    justify-content: center;
    margin: 0 -2%;
    transform: rotate(-12deg) skew(-12deg);
}

.box-divider--light-all-2 {
    box-shadow: inset 0 0 0 2px #e3e8ee;
}

.box-background--blue {
    background-color: #5469d4;
}

.box-background--white {
    background-color: #bdbdbd; 
}

.box-background--blue800 {
    background-color: #212d63;
    animation: animationRightLeft 2s ease-in-out infinite;
}


.box-background--gray100 {
    background-color: #00158b;
}

.box-background--cyan200 {
    background-color: #000000;
}

.padding-top--64 {
    padding-top: 64px;
}

.padding-top--24 {
    padding-top: 24px;
}

.padding-top--48 {
    padding-top: 48px;
}

.padding-bottom--24 {
    padding-bottom: 24px;
}

.padding-horizontal--48 {
    padding: 48px;
}

.padding-bottom--15 {
    padding-bottom: 15px;
}

.flex-justifyContent--center {
    -ms-flex-pack: center;
    justify-content: center;
}

.animationRightLeft {
    animation: animationRightLeft 2s ease-in-out infinite;
}

.animationLeftRight {
    animation: animationLeftRight 2s ease-in-out infinite;
}

.tans3s {
    animation: animationLeftRight 3s ease-in-out infinite;
}

.tans4s {
    animation: animationLeftRight 4s ease-in-out infinite;
}

@keyframes animationLeftRight {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(1000px);
    }
    100% {
        transform: translateX(0px);
    }
} 

@keyframes animationRightLeft {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-1000px);
    }
    100% {
        transform: translateX(0px);
    }
}
